# --- Git ---
.git
.gitignore

# --- Secretos ---
.env
.env.example

# --- Datos Locales ---
portainer_data/
grafana_data/
prometheus/
nginx/

# --- Documentación ---
README.md
LICENSE
docs/

# --- Archivos de infraestructura (no son parte de la app) ---
docker-compose.yml
.dockerignore
create-user.sh

# --- Archivos dentro de aplicacion-prueba que no necesita el contenedor ---
aplicacion-prueba/Dockerfile
aplicacion-prueba/docker-compose.yml
